h1 {
  font-size: 60px;
  font-family: 'Poiret One', cursive;
  letter-spacing: 7px;
  margin-bottom: 30px;
  font-family:'Poiret One', cursive;
}

body {
  background-color: LightSkyBlue;
  font-weight: bold;
  padding: 20px;
  background-image: url('https://image.freepik.com/free-photo/texture-background_1404-161.jpg');
}

p {
  font-size: 20px;
  margin-top: 25px;
  font-family: 'Poiret One', cursive;
  font-weight: 200;
  text-align: left;
  padding: 0px 30px;
}

.button-menu {
  margin: 10px 5px;
}

.button {
  display: inline-block;
  width: 24%;
  text-align: center;
  text-transform: lowercase;
  font-size: 20px;
  font-family: 'Poiret One', cursive;
  color: black;
}

img {
  width: 100%;
  border-radius: 90px;
}
